#header{
	color: black;
	text-align: center;
	padding-left: 100px;
	font-weight: bolder;
}

#link{
	padding-top: 50px;
	color: black;
	font-size: 25px;
	font-weight: bold;
}

#inp{
	padding-top: 3px;
	margin-left: -1px;
}

.btn1{

	margin-top: 4px;
	margin-left: -1px;
	padding-left: 30px;
	padding-right: 30px;
	font-size: 20px;
}


body {
font-family: Arial;
background-color: white;
padding: 50px;
}
